/**
 * Dark GCC theme for reveal.js.
 *
 * By Alan Cantrell
 * Based on Black theme by Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #9a9b9d;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: 2px 2px 2px #535353;
$headingFontWeight: 600;

$linkColor: #c1d72e;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$codeFont: monospace;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

section.title h1{
	font-size: 50px;
	margin-top: 2.3em;
	color: #000000;
	text-shadow: 4px 4px 4px #787878;

}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------